doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body 
        h1 This is PUG file
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat suscipit quibusdam veritatis deleniti nesciunt deserunt ad perferendis consectetur molestiae facere!
        button Learn More