doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ToDo List
        link(rel="stylesheet", href="style.css")
    body 
        form(action="/new-task", method="POST")
            input(type="text", placeholder="Enter a task", name="newTask")
            input(type="submit", value="Add") 
        ul 
            each task in data
                li 
                    div=task.id
                    div=task.value
                    div 
                        form(action=`/update-task?id=${task.id}`, method="POST")
                            input(type="text", placeholder="Update", name="updatedTask")
                            input(type="submit", value="Update")  
                    div 
                        button Delete