doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ToDo List
        link(rel="stylesheet", href="style.css")
    body 
        form(action="/new-task", method="POST")
            input(type="text", placeholder="Enter a task", name="newTask")
            input(type="submit", value="Add") 
        ul 
            li 
                div 1
                div Task Name
                div 
                    button Update 
                div 
                    button Delete