doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ToDo List
        link(rel="stylesheet", href="style.css")
    body 
        main 
            form(action="/new-task", method="POST")
                input(type="text", name="newTask", placeholder="Enter a task")
                input(type="submit", value="Add")
            ul 
               each tasks in data
                    li 
                        div= tasks.id
                        div= tasks.task 
                        div 
                            form(action=`/update-task?id=${tasks.id}`, method="POST") 
                                input(type="text", name="updateTask", placeholder="Update Task")
                                input(type="submit", value="Update")
                        div Delete