*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

ul li{
    display: flex;
    align-items: center;
    gap: 20px;
}