doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title This is PUG File
        link(rel="stylesheet", href="style.css")
    body 
        h1 This is PUG File 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, ipsum.
        button Learn More