@import "tailwindcss";

img {
  max-width: 100%;
  object-fit: cover;
}

button,
label,
i,
li,
a {
  cursor: pointer;
}

/* table td{
  padding: 5px;
} */

.slick-arrow::before{
  color: #000 !important;
}

